<%- include('../partials/header') %>

<header>
  <nav>
    <div class="logoNavStuff">
      <a class="navBar" href="/"><img src="/images/Logo.png" alt="LA" class="logoimg" /></a>
      <button class="logoTxt" type="submit"><a href="/">Fav<%= title %></a></button>
    </div>
    <ul>
      <li><a class="navBar" href="/">Home</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/gifs">Gifs</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/videos">Videos</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" id="active" href="/favorites">Favorites</a></li>
    </ul>
    <div class="oAuth navBar">

      <% if (user) { %>

      <a class="navBar" href="/logout"><i class="material-icons left">turned_in</i>Log Out</a>

      <% } else { %>

      <a class="navBar" href="/auth/google"><i class="material-icons left">turned_in_not</i>Sign Up/In</a>
      <% }; %>
    </div>
  </nav>
</header>
<main>
  <h1><strong>Fav</strong><%= title %></h1>
  <% if (user) { %>
  <h1>Gifs</h1>
  <p>View your favorite Gifs!</p>
  <% if(user && user.favoriteGifs.length) { %>
  <div class="container">
    <% user.favoriteGifs.forEach(function(g) { %>
    <img src="<%= g.src %> " alt="<%= g.title %> " />
    <!-- to remove favorite gif -->
    <div class="iconsContainer">
      <form id="formBtns" action="/gifs/<%= g._id %>/favorites?_method=DELETE" class="delete-form" method="POST">
        <p>Click to unfavorite</p>
        <button class="favBtn" type="submit">
          <img class="heartImg" src="/images/unfav-heart.png" alt="Heart" />
        </button>
      </form>
    </div>
    <% if (g.comments.length) { %>
    <div class="subContainer">
      <table>
        <caption>Reviews</caption>
        <thead>
          <tr>
            <th class="usernameTh">Username</th>
            <th class="commentsTh">Comments</th>
            <th class="ratingsTh">Ratings</th>
            <th class="deleteTh">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% g.comments.forEach(function(com) { %>
          <tr>
            <td class="createdBy"><%= com.createdby.name %></td>
            <td class="comments"><%= com.content %></td>
            <td class="ratings"><%= com.rating %></td>
            <td>
              <form action="/gifs/<%= g._id %>/comments/<%= com._id %>?_method=DELETE" class="delete-form"
                method="POST">
                <button class="deleBtn" type="submit">X</button>
              </form>
            </td>
        </tbody>
        <thead>
          <th colspan="4">Edit Comment</th>
        </thead>
        <tbody>
          <td colspan="4" class="editComTh">
            <!-- Edit Comments -->
            <form action="/gifs/<%= g._id %>/comments/<%=com._id %>?_method=PUT" class="formSpec" method="POST"
              autocomplete="off">
              <input id="updateInput" type="text" name="content" value="<% g.comments %>" />
              <button type="submit">Update</button>
            </form>
          </td>
        </tbody>
        </tr>
        <% }); %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <p>^No Comments Yet^</p>
    <% } %>
    <% }); %>
  </div>
  <% } else { %>
  <h2>No Gifs Favorited</h2>
  <% }; %>
  <h1>Videos</h1>
  <p>View your favorite Videos!</p>
  <% if(user && user.favoriteVideos.length) { %>
  <div class="container">
    <% user.favoriteVideos.forEach(function(vid) { %>
    <iframe width="560" height="315" src="<%= vid.src %> " frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- to remove favorite video -->
    <div class="iconsContainer">
      <form id="formBtns" action="/videos/<%= vid._id %>/favorites?_method=DELETE" class="delete-form" method="POST">
        <p>Click to unfavorite</p>
        <button class="favBtn" type="submit">
          <img class="heartImg" src="/images/unfav-heart.png" alt="Heart" />
        </button>
      </form>
    </div>
    <% if (vid.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th class="infoBar">Created By</th>
          <th class="infoBar">Comments</th>
          <th class="infoBar">Ratings</th>
          <th class="infoBar">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% vid.comments.forEach(function(com) { %>
        <tr>
          <td class="createdBy"><%= user.name %></td>
          <td class="comments"><%= com.content %></td>
          <td class="ratings"><%= com.rating %></td>
          <td>
            <form action="/videos/<%= vid._id %>/comments/<%= com._id %>?_method=DELETE" class="delete-form"
              method="POST">
              <button class="deleBtn" type="submit">X</button>
            </form>
          </td>
        </tr>
      </tbody>
      <thead>
        <th colspan="4">Edit Comment</th>
      </thead>
      <tbody>
        <td colspan="4" class="editComTh">
          <!-- Edit Comments -->
          <form action="/videos/<%= vid._id %>/comments/<%=com._id %>?_method=PUT" class="formSpec" method="POST"
            autocomplete="off">
            <input id="updateInput" type="text" name="content" value="<% vid.comments %>" />
            <button type="submit">Update</button>
          </form>
        </td>
      </tbody>
      <% }); %>
    </table>
    <% } else { %>
    <p>^No Comments Yet^</p>
    <% } %>
    <% }); %>
  </div>
  <% } else { %>
  <h2>No Videos Favorited</h2>
  <% }; %>
  <% } else { %>
  <h2>Log in to see Favorites</h2>
  <div class="oAuth navBar">
    <% if (user) { %>
    <a class="navBar" href="/logout"><i class="material-icons left">turned_in</i>Log Out</a>
    <% } else { %>
    <a class="navBar" href="/auth/google"><i class="material-icons left">turned_in_not</i>Sign Up/In</a>
    <% }; %>
  </div>
  <% }; %>
</main>

<%- include('../partials/footer') %>