<%- include('../partials/header') %>
<header>
  <nav>
    <div class="logoNavStuff">
      <a class="navBar" id="logoTxt" href="/"><img src="/images/Logo.png" alt="LA" class="logoimg" /><%= title
          %>spirations</a>
    </div>
    <ul>
      <li><a class="navBar" href="/">Home</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/gifs">Gifs</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" id="active" href="/videos">Videos</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/favorites">Favorites</a></li>
    </ul>
    <div class="oAuth navBar">
      <% if (user) { %>
      <a class="navBar" href="/logout"><i class="material-icons left">turned_in</i>Log Out</a>
      <% } else { %>
      <a class="navBar" href="/auth/google"><i class="material-icons left">turned_in_not</i>Login with Google</a>
      <% } %>
    </div>
  </nav>
</header>
<main>
  <h1><strong><%= title %></strong>spirations</h1>
  <br />
  <form action="/videos" method="POST">
    <label id="submitTitle">Submit a Video</label>
    <label>Input Video Title</label>
    <li><strong>Example: </strong>Lofi Hip Hop Radio</li>
    <input id="inputForm" type="text" name="title" placeholder="Title of Video" />
    <br />
    <label>Input Youtube Video Url</label>
    <li>
      <strong>Example: </strong>https://www.youtube.com/embed/ifn0u1kwgOk
    </li>
    <input id="inputForm" type="text" name="src" placeholder="Url link to video" />
    <br />
    <input type="Submit" value="Submit" />
  </form>
  <br />
  <h1><%= title %>eos</h1>
  <p>Upload and favorite videos!</p>
  <div class="container">
    <% videos.forEach(function(vid) { %>
    <!-- Video Title -->
    <h2><%= vid.title %></h2>
    <!-- Video -->
    <iframe width="560" height="315" src="<%= vid.src %>" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Favorites button -->
    <% if(user && user.favoriteVideos.includes(vid._id)) { %>
    <form id="formBtns" action="/videos/<%= vid._id %>/favorites?_method=DELETE" class="delete-form" method="POST">
      <p>Unfavorite</p>
      <button class="favBtn" type="submit">
        <img class="heartImg" src="/images/unfav-heart.png" alt="Heart" />
      </button>
    </form>
    <% } else { %>
    <form id="formBtns" action="/videos/<%= vid._id %>/favorites" class="favorite-form" method="POST">
      <p>Favorite</p>
      <button class="favBtn" type="submit">
        <img class="heartImg" src="/images/fav-heart.png" alt="Heart" />
      </button>
    </form>
    <% }; %> <% if (user && vid.createdby) { %> <% if(user._id.toString() ==
      vid.createdby.toString()) { %>
    <!-- to delete comment -->
    <form id="formBtns" action="/videos/<%= vid._id %>?_method=DELETE" class="delete-form" method="POST">
      <p>Delete</p>
      <button class="deleBtn" type="submit">X</button>
    </form>
    <% } else {} %> <% } else {} %>
    <!-- Input comments -->
    <form id="" method="POST" action="/videos/<%= vid._id %>/comments">
      <label>-Comment-</label>
      <textarea name="content"></textarea>
      <label>-Rating-</label>
      <select name="rating">
        <option value="Unrated">Unrated</option>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option selected="selected" value="5">★★★★★</option>
      </select>
      <input type="submit" value="Add Comment" id="submitBtn" />
    </form>
    <!-- Show comments -->
    <% if (vid.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th class="infoBar">Created By</th>
          <th class="infoBar">Comments</th>
          <th class="infoBar">Ratings</th>
          <th class="infoBar">Delete</th>
          <th class="infoBar">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% vid.comments.forEach(function(com) { %>
        <tr>
          <td class="createdby"><%= com.createdby.name %></td>
          <td class="comments"><%= com.content %></td>
          <td class="ratings"><%= com.rating %></td>
          <td>
            <% if (com.createdby.equals(user && user._id)) { %>
            <form action="/videos/<%= vid._id %>/comments/<%= com._id %>?_method=DELETE" class="formSpec" method="POST"
              // style="width: unset;">
              <button class="deleBtn" type="submit">X</button>
            </form>
            <% } else { %>
            <p>...</p>
            <% }; %>
          </td>
          <td>
            <!-- Edit Comments -->
            <form action="/videos/<%= vid._id %>/comments/<%=com._id %>?_method=PUT" class="formSpec" method="POST"
              autocomplete="off">
              <input id="updateInput" type="text" name="content" value="<% vid.comments %>" />
              <button type="submit">Update</button>
            </form>
            <!-- New ^^^ -->
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>^No Comments Yet^</p>
    <% } %> <% }); %>
  </div>
  <%- include('../partials/footer') %>