<%- include('../partials/header') %>

<header>
  <nav>
    <div class="logoNavStuff">
      <a class="navBar" id="logoTxt" href="/"><img src="/images/Logo.png" alt="LA" class="logoimg" /><%= title
          %>spirations</a>
      <!-- <a class="navBar" href="/"> replace with sqids </a> -->
    </div>
    <ul>
      <li><a class="navBar" href="/">Home</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" id="active" href="/gifs">Gifs</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/videos">Videos</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/favorites">Favorites</a></li>
    </ul>
    <div class="oAuth navBar">
      <% if (user) { %>
      <a class="navBar" href="/logout"><i class="material-icons left">turned_in</i>Log Out</a>
      <% } else { %>
      <a class="navBar" href="/auth/google"><i class="material-icons left">turned_in_not</i>Login with Google</a>
      <% } %>
    </div>
  </nav>
</header>
<main>
  <h1><strong><%= title %></strong>spirations</h1>
  <br />
  <!-- Submit -->
  <form action="/gifs" method="POST">
    <label id="submitTitle">Submit a Gif</label>
    <label>Input Gif Title</label>
    <li><strong>Example: </strong>Cartman Meme</li>
    <input id="inputForm" type="text" name="title" placeholder="Input Title of Gif" />
    <br />
    <label>Input Gif URL</label>
    <li>
      <strong>Example: </strong>https://media.giphy.com/media/26ufmQSd4DBw0ifU4/giphy.gif
    </li>
    <input id="inputForm" type="text" name="src" placeholder="Input Gif URL" />
    <br />
    <input type="Submit" value="Submit" />
  </form>
  <br />
  <h1><%= title %>s</h1>
  <p>Upload your favorite Gifs!</p>
  <div class="container">
    <% gifs.forEach(function(g) { %>
    <!-- Gif Title -->
    <h2><%= g.title %></h2>
    <!-- Gif -->
    <img src="<%= g.src %>" alt="<%= g.title %> " />
    <!-- Favorites button -->
    <% if(user && user.favoriteGifs.includes(g._id)) { %>
    <form id="formBtns" action="/gifs/<%= g._id %>/favorites?_method=DELETE" class="delete-form" method="POST">
      <p>Unfavorite</p>
      <button class="favBtn" type="submit">
        <img class="heartImg" src="/images/unfav-heart.png" alt="Heart" />
      </button>
    </form>
    <% } else { %>
    <form id="formBtns" action="/gifs/<%= g._id %>/favorites" class="favorite-form" method="POST">
      <p>Favorite</p>
      <button class="favBtn" type="submit">
        <img class="heartImg" src="/images/fav-heart.png" alt="Heart" />
      </button>
    </form>
    <% }; %> <% if (user && g.createdby) { %> <% if(user._id.toString() ==
      g.createdby.toString()) { %>
    <!-- To delete button -->
    <form id="formBtns" action="/gifs/<%= g._id %>?_method=DELETE" class="delete-form" method="POST">
      <p>Delete</p>
      <button class="deleBtn" type="submit">X</button>
    </form>
    <% } else {} %> <% } else {} %>
    <!-- Input comments -->
    <form id="" method="POST" action="/gifs/<%= g._id %>/comments">
      <label>-Comment-</label>
      <textarea name="content"></textarea>
      <label>-Rating-</label>
      <select name="rating">
        <option value="0">Unrated</option>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option selected="selected" value="5">★★★★★</option>
      </select>
      <input type="submit" value="Add Comment" id="submitBtn" />
    </form>
    <!-- Show comments -->
    <% if (g.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th class="infoBar">Created By</th>
          <th class="infoBar">Comments</th>
          <th class="infoBar">Ratings</th>
          <th class="infoBar">Delete</th>
          <th class="infoBar">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% g.comments.forEach(function(com) { %>
        <tr>
          <td class="createdby"><%= com.createdby.name %></td>
          <td class="comments"><%= com.content %></td>
          <td class="ratings"><%= com.rating %></td>
          <td>
            <% if (com.createdby.equals(user && user._id)) { %>
            <form action="/gifs/<%= g._id %>/comments/<%= com._id %>?_method=DELETE" class="formSpec" method="POST">
              <button class="deleBtn" type="submit">X</button>
            </form>
            <% } else { %>
            <p>...</p>
            <% }; %>
          </td>
          <td>
            <!-- Edit Comments -->
            <form action="/gifs/<%= g._id %>/comments/<%=com._id %>?_method=PUT" class="formSpec" method="POST"
              autocomplete="off">
              <input id="updateInput" type="text" name="content" value="<% g.comments %>" />
              <button type="submit">Update</button>
            </form>
            <!-- New ^^^ -->
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>^No Comments Yet^</p>
    <% } %> <% }); %>
  </div>
  <%- include('../partials/footer') %>